body {
    background-image: url("https://images.unsplash.com/photo-1483354483454-4cd359948304?ixlib=rb");
    background-attachment: fixed;
}
div {
    background-image: url("https://images.unsplash.com/photo-1567739665094-c24f043b8407?ixlib=rb");
    background-repeat: no-repeat;
    background-position:top right;
    height: 500px;
}
h1 {
    color: blue;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}