body {
    background-color: aqua;
}
.container {
    display: inline-flex;
    background-color: blue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction: column;
}
.container2 {
    display: inline-flex;
    background-color: chartreuse;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
}
.container3 {
    display: inline-flex;
    background-color: darkgreen;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.item {
    background-color: crimson;
    border-width: 5px;
    border-style: double;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
}